$bright-green-1:#7ed56f;
$bright-green-2:#6a961f;
$light-green-1: #28b485;
$light-green-2:#348e38;
$dark-green:#0d3c00;
$bright-white:white;
$dark-white:#f4f5f0;
$bright-yellow:#ffd43b;
$dark-yellow:#e67700;
$bright-black:#444;
$dark-black:#333;

