
// @font-face {
//   font-family: "vazir";
//   src: url("../public/gardenFont/vazir/Vazir-Regular.ttf");
//   font-weight: normal;
// }
// @font-face {
//   font-family: "vazir";
//   src: url("../public/gardenFont/vazir/Vazir-Bold.woff");
//   font-weight: bold;
// }
@font-face {
  font-family: "btitr";
  src: url("../public/gardenFont/b titr/BTitrBd.ttf");
  font-weight: normal;
}
@font-face {
    font-family: "irannas";
    src: url("../public/gardenFont/IranNastaliq (1)/IranNastaliq.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "mjss";
    src: url("../public/gardenFont/Mj_SS-Three-Light/Mj_SS Three Light.ttf");
    font-weight: normal;
}


@font-face {
  font-family: "taha";
  src: url("../public/gardenFont/Tanha-FD.woff");
  font-weight: normal;
}

@font-face {
  font-family: "iransens";
  src: url("../public/gardenFont/iransens/1_5186128406684631052.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "iransens";
  src: url("../public/gardenFont/iransens/1_5186154794963697720.ttf");
  font-weight: bold;
}


//
@font-face {
  font-family: "hesam";
  src: url("../public/gardenFont/Hesam Font [learnparsi.com]/W_hesam.TTF");
  font-weight: normal;
}
//
@font-face {
    font-family: "sogand";
    src: url("../public/gardenFont/SOGAND/SOGAND.ttf");
    font-weight: normal;
}
